[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dask = {extras = ["complete"],version = "*"}
pandas = "*"
numpy = "*"
ipykernel = "*"
h5py = "*"
tables = "*"

[requires]
python_version = "3.7"
